{% extends 'base.html' %}

{% block title %} Despre noi {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br><br><br>
                <div class="bg-success p-2 text-dark bg-opacity-10 shadow-lg p-3 mb-5 bg-body rounded">
                    <br><br><br>
                    <h3>Despre noi</h3>
                    <hr>
                    <p>Firma noastra cu sediul in Brasov va pune la dispozitie inchirieri de dube fara sofer de 3,5 tone
                        ce pot fi conduse cu permis categoria B.
                    </p>
                    <p>Pentru a veni in ajutorul clientilor nostri , dubele se inchiriaza fara limita de kilometri.</p>
                    <p>In cazul in care doriti sa inchiriati pentru un transport de bunuri personale in spatiul Uniunii
                        Europene sau pentru orice gen de transport international, noi suntem solutia dvs.
                    </p>
                    <p>Oferim spre inchiriere fara sofer, dube de pana la 17 mc cu o incarcare utila intre 1250 si 1550
                        kg si cu un spatiu de incarcare de pana la 4,5 m lungime.
                    </p>
                    <p>Toate masinile noastre au asistenta rutiera internationala valabila in toate tarile membre
                        UE.</p>
                    <p>Pentru inchirieri de dube pe termen lung suntem foarte flexibili si putem sa venim in
                        intampinarea dvs cu cele mai bune oferte.
                    </p>

                </div>

            </div>
        </div>
    </div>
{% endblock %}